<div>
  <div class="flex justify-between my-4">
    <div><p>Conozca los horarios y valores de nuestro <strong>centro de natación</strong></p></div>
    <div><button type="button">Valores y horarios</button></div>
  </div>
</div>