<div class="layout beneficios">
  <div class="lg:flex lg:space-x-4">
    <div class="flex-beneficios1 mr-6 text-center mt-12">
      <div class="text-2xl"><p>Beneficios de las actividades desarrolladas en el medio acuático</p></div>
      <div class="text-xl mt-6"><p>Efectos en el organismo producidos por las actividades desarrolladas en el agua</p></div>
      <div class="mx-auto my-4 rounded-xl shadow-md overflow-hidden beneficios-container">
        <div class="sm:flex items-center">  
          <div class="sm:shrink-0">
            <img class="h-72 sm:h-full sm:w-72" src="/images/beneficios1.jpg", alt="Piscina">
          </div>
          <p class="p-6 text-slate-500">
            La resistencia que ofrece la masa líquida a los movimientos y el aumento de la superficie de roce permite graduar el esfuerzo físico. El continuo movimiento del agua actúa sobre los músculos, produciendo un enérgi co masaje sobre las zonas sumergidas. Al realizar el ejercicio en velocidad debemos aplicar mayor fuerza por la resistencia que opone el agua, y esto está directamente relacionado con nuestro fortalecimiento muscular.
          </p>
        </div>
      </div>
      <div class="mx-auto my-4 rounded-xl shadow-md overflow-hidden beneficios-container">
        <div class="sm:flex sm:flex-row-reverse items-center">
          <div class="sm:shrink-0">
            <img class="h-72 sm:h-full sm:w-72" src="/images/beneficios2.jpg", alt="Resistencia en el agua">
          </div>
          <p class="p-6 text-slate-500">
            Debido al principio de Arquímedes, nuestro organismo pesa menos dentro del agua, las articulaciones y la columna se relajan, los músculos posturales y de apoyo no se contraen y otros grupos, por el contrario, se utilizan con mayor intensidad. La presión que ejerce la masa de agua sobre la piel (presión hidrostática) estimula y activa la circulación sanguínea y el músculo diafragma, que dirige los movimientos respiratorios, se ve potenciado, pues el ejercicio dentro del agua obliga a una respiración enérgica y regular.
          </p>
        </div>
      </div>
      <div class="mx-auto my-4 rounded-xl shadow-md overflow-hidden beneficios-container">
        <div class="sm:flex items-center">
          <div class="sm:shrink-0">
            <img class="h-72 sm:h-full sm:w-72" src="/images/beneficios3.jpg", alt="Piscina y salud">
          </div>
          <p class="p-6 text-slate-500">
            Mejora el trabajo del corazón, aumenta la capacidad pulmonar, favoreciendo el intercambio de oxígeno. Proporciona elasticidad a la musculatura, produciendo también una relajación psíquica posterior. Ejercita toda la musculatura del cuerpo, pues todos los músculos intervienen en la actividad de flotar. Ayuda a perder peso, pues consume alrededor de 700 calorías por hora. Mejora alteraciones a la columna vertebral, caderas y articulaciones de las extremidades inferiores.
          </p>
        </div>
      </div>  
    </div>
    <div class="flex-beneficios2 mt-12 flex items-stretch">
      <%= erb :sabiausted %>
    </div>
  </div>
  <hr>
</div>