<div class="layout">
  <div class="flex">
    <div class="flex-1">
      <div><h2>ESCRÍBANOS</h2></div>
      <%= erb :contacto_form %>
    </div>
    <div class="flex-1">
      <div><h2>CONTÁCTENOS</h2></div>
      <ul>
        <li>+56 2 22 04 4096</li>
        <li>Av. Francisco Bilbao 1136 – Providencia</li>
        <li>centrodenatacion@gmail.com</li>
        <li>centrodenatacion.cl</li>
      </ul>
      <p>MAPA INCRUSTADO</p>
    </div>
    <div class="flex-1">
      <%= erb :sabiausted %>
    </div>
  </div>
</div>