<form id="contacto" action="/check" method="post">
  <label for="fname">Nombre:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="mail">Correo:</label><br>
  <input type="text" id="mail" name="mail"><br>
  <label for="topic">Asunto:</label><br>
  <input type="text" id="topic" name="topic"><br>
  <label for="message">Tu mensaje:</label><br>
  <textarea name="message"></textarea><br>
  <button class="form-submit" type="submit">Enviar</button>
  <input type="reset">
</form>