<div class="layout">
  <div class="flex">
    <div class="cursos1 mr-3">
      <div><img src="/images/cursos1.jpg", alt="Cursos Piscina"></div>
      <div><h2>Papá… No espere el verano para enseñar a nadar a sus hijos</h2></div>
      <div><h2>Evite aglomeraciones y listas de espera …traiga a sus niños ahora para que aprendan a nadar</h2></div>
      <div><h2>Prepárese para el próximo verano, tenga a sus hijos nadando</h2></div>
      <div><h1>Cursos de Natación</h1></div>
      <div class="flex justify-between">
        <div class="flex-1 mr-3"><img src="/images/cursos2.jpg", alt="Cursos Piscina"></div>
        <div class="flex-1 ml-3"><img src="/images/cursos3.jpg", alt="Cursos Piscina"></div>
      </div>
      <div><p>CURSOS BASICOS AVANZADOS LIBRE</p></div>
      <div class="flex justify-between">
        <div class="flex-1 mr-3"><img src="/images/cursos1.jpg", alt="Cursos Piscina"></div>
        <div class="flex-1 mx-2"><img src="/images/cursos2.jpg", alt="Cursos Piscina"></div>
        <div class="flex-1 mr-3"><img src="/images/cursos3.jpg", alt="Cursos Piscina"></div>
      </div>
      <hr>
      <div><h1>Cursos de natación para niños</h1></div>

      <div class="flex justify-between">
      <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
            <p>Curso básico y avanzado</p>
        </div>
        <div class="flip-card-back">
          <div class="m-1"><p>Las clases son personalizadas con un máximo de 8 niños por profesor. Los chicos estan dentro de la piscina vivenciando el medio acuático el ciento por ciento de la clase.
          Avanzan de etapas por sus propios avances o logros, no por los del grupo. Por lo tanto en una misma clase pueden avanzar de nivel.</p></div>
        </div>
      </div>
    </div>
        <div><img src="/images/logo_centro_natacion.png", alt="Logo"></div>
        <div>Clases particulares</div>
      </div>
    </div>

    <div class="cursos2">
      <%= erb :sabiausted %>
    </div>
  </div>
  <hr>
  <%= erb :banner_vyh %>
</div>