<ul class="w-full nav nav-tabs flex flex-col md:flex-row flex-wrap list-none border-b-0 pl-0 mb-4" id="tabs-tab"
  role="tablist">
  <li class="nav-item" role="presentation">
    <a href="#tabs-home" class="
      nav-link
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
      active
    " id="tabs-home-tab" data-bs-toggle="pill" data-bs-target="#tabs-home" role="tab" aria-controls="tabs-home"
      aria-selected="true">Curso básico</a>
  </li>
  <li class="nav-item" role="presentation">
    <a href="#tabs-profile" class="
      nav-link
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
    " id="tabs-profile-tab" data-bs-toggle="pill" data-bs-target="#tabs-profile" role="tab"
      aria-controls="tabs-profile" aria-selected="false">Curso avanzado</a>
  </li>
  <li class="nav-item" role="presentation">
    <a href="#tabs-messages" class="
      nav-link
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
    " id="tabs-messages-tab" data-bs-toggle="pill" data-bs-target="#tabs-messages" role="tab"
      aria-controls="tabs-messages" aria-selected="false">Horario libre</a>
  </li>
</ul>

<div class="tab-content" id="tabs-tabContent">
  <div class="tab-pane fade show active cursos-tabpanel1" id="tabs-home" role="tabpanel" aria-labelledby="tabs-home-tab">
    Las clases son personalizadas, a cada alumno se le van dando trabajos correspondiente a su nivel.
  </div>
  <div class="tab-pane fade cursos-tabpanel1" id="tabs-profile" role="tabpanel" aria-labelledby="tabs-profile-tab">
    Se realizan trabajos para aumentar la resistencia y enseñanza de los cuatro estilos (<i>crawl</i> o crol, espalda, pecho y mariposa). <br>Nota: Los cursos incorporan hidrogimnasia. La primera mitad de la clase se realiza la hidrogimnasia y el resto de la hora se practica natación.
  </div>
  <div class="tab-pane fade cursos-tabpanel1" id="tabs-messages" role="tabpanel" aria-labelledby="tabs-profile-tab">
    Horas para practicar nado libre o ejercicios en el agua sin profesor.
  </div>
</div>