<div class="footer">
  <div class="layout md:mt-12">
    <div class="footer-list md:flex justify-between text-center mb-12">
        <div class="flex flex-col mt-12 md:text-left">
            <h3 class="md:text-2xl mb-4">Horarios</h3>
            <p>Lunes a Viernes: 10:00 - 21:00 hrs</p>
            <p>Sábado: 10:00 - 14:00 hrs</p>
            <p>Domingo: CERRADO</p>
        </div>
        <div class="flex flex-col mt-12 md:text-left">
            <h3 class="md:text-2xl mb-4">Contáctenos</h3>
            <p><a href="tel:+56222044096">+56 2204 4096</a></p>
            <p><a href="https://goo.gl/maps/2Jsa1PYxwxwcWEAx5">Av. Francisco Bilbao 1136  Providencia</a></p>
            <p><a href="mailto:centrodenatacion@gmail.com">centrodenatacion@gmail.com</a></p>
            <p><a href="www.centrodenatacion.cl">www.centrodenatacion.cl</a></p>
        </div>
        <div class="flex flex-col mt-12 md:text-base md:text-left">
            <h3 class="md:text-2xl mb-4">Formas de pago</h3>
            <p>Visa, Diners, Mastercard, Amex, Magna</p>
            <p>Redcompra</p>
            <p>Transferencia bancaria</p>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="flex flex-wrap justify-center text-center text-xs">
            <p>CENTRO DE NATACIÓN PATRICIA THOMPSON © 2017.</p>
            <p>Diseñado por Coding Chickens, 2022</p>
        </div>
    </div>
  </div>
</div>