<div class="footer">
  <div class="layout">
    <div class="footer-list flex justify-between mb-12">
        <div class="text-sm">
            <h3 class="text-2xl mb-4">Horarios</h3>
            <p>Lunes a Viernes /de 10:00 am a 21:00 pm</p>
            <p>Sábado / 10:00 am a 14:00 pm</p>
            <p>Domingo / CERRADO</p>
        </div>
        <div>
            <h3 class="text-2xl mb-4">Contáctenos</h3>
            <p><a href="#">+56 220 44 096</a></p>
            <p><a href="#">Av. Francisco Bilbao 1136  Providencia</a></p>
            <p><a href="#">centrodenatacion@gmail.com</a></p>
            <p><a href="#">centrodenatacion.cl</a></p>
        </div>
        <div>
            <h3 class="text-2xl mb-4">Formas de pago</h3>
            <p>Visa, Diners, Mastercard, Amex, Magna</p>
            <p>Redcompra</p>
            <p>Transferencia bancaria</p>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="flex text-xs">
            <p>CENTRO DE NATACIÓN PATRICIA THOMPSON © 2017.</p>
            <p>Diseñado por Coding Chickens, 2022</p>
        </div>
    </div>
  </div>
</div>