<header>
  <nav>
    <div class="header-top"> 
      <div class="layout flex justify-between">
        <div class="flex space-x-3">
          <a href="/contacto">Cómo llegar</a>
          <a href="#">+56 2 2204 4096	</a>
        </div>
        <div class="flex space-x-2">
          <div class="icon"><a href="https://www.facebook.com/centronatacion.patriciathompson"><img src="/images/icons/Facebook.svg", alt="Facebook"></a></div>
          <div class="icon"><a href="#"><img src="/images/icons/Instagram.svg", alt="Instagram"></a></div>
          <div class="icon"><a href="#"><img src="/images/icons/Street-view.png", alt="Street View"></a></div>
          <div class="icon"><a href="#"><img src="/images/icons/Map.svg", alt="Ubicación"></a></div>
          <div class="icon"><a href="#"><img src="/images/icons/Email.png", alt="Email"></a></div>
        </div>
      </div>
    </div>
    <div class="navigation py-2">
      <div class="layout flex justify-between">
        <div class="flex space-x-2">
          <div class="logo"><img src="/images/logo_centro_natacion.png", alt="Logo"></div>
          <div>
            <h2 class="font-semibold text-3xl">Centro de Natación</h2>
            <h3 class="text-xl">Patricia Thompson</h3>
          </div>
        </div>
        <div>
          <ul class="flex space-x-5 font-bold">
            <li class="navigation-link"><a href="/">INICIO</a></li>
            <li class="navigation-link">
            <div class ="inline-block relative">
              <p>SERVICIOS</p>
            <div class="navigation-dropdown absolute bg-white p-2">
              <ul>
                <li class="navigation-link"><a href="#">NATACIÓN</a></li>
                <li class="navigation-link"><a href="#">HIDROGIMNASIA</a></li>
                <li class="navigation-link"><a href="#">MASAJES</a></li>
              </ul>
            </div>
            </li>
            <li class="navigation-link"><a href="/beneficios">BENEFICIOS</a></li>
            <li class="navigation-link"><a href="/cursos">CURSOS</a></li>
            <li class="navigation-link"><a href="/horarios">HORARIOS</a></li>
            <li class="navigation-link"><a href="/precios">PRECIOS</a></li>
            <li class="navigation-link"><a href="/contacto">CONTACTO</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>