<header>
  <nav>
    <div class="navigation p-6">
      <div class="flex justify-between items-center">
        <div class="flex space-x-2">
          <div class="logo"><a href="/"><img src="/images/logo_centro_natacion.png", alt="Logo"></a></div>
          <div class="items-center">
            <h2 class="font-semibold lg:text-3xl">Centro de Natación</h2>
            <h3 class="lg:text-xl">Patricia Thompson</h3>
          </div>
        </div>
        <div class="hidden md:flex">
          <ul class="space-x-2 lg:space-x-5 font-bold" style="display:inherit">
            <li class="navigation-link"><a href="/servicios_natacion">NATACIÓN</a></li>
            <li class="navigation-link"><a href="/servicios_hidrogimnasia">HIDROGIMNASIA</a></li>
            <li class="navigation-link"><a href="/horarios">HORARIOS</a></li>
            <li class="navigation-link"><a href="/precios">PRECIOS</a></li>
            <li class="navigation-link"><a href="/contacto">CONTACTO</a></li>
          </ul>
        </div>
        <a href="javascript:void(0);" class="md:hidden" onclick="myFunction()">
          <label class="hamburger">☰</label>
        </a>
      </div>
    </div>
    <div class="layout" id="hamburgerLinks">
      <div class="flex justify-end">
        <ul class="font-bold block md:flex mx-auto text-center space-y-2 mb-2">
          <li class="navigation-link"><a href="/servicios_natacion">NATACIÓN</a></li>
          <li class="navigation-link"><a href="/servicios_hidrogimnasia">HIDROGIMNASIA</a></li>
          <li class="navigation-link"><a href="/horarios">HORARIOS</a></li>
          <li class="navigation-link"><a href="/precios">PRECIOS</a></li>
          <li class="navigation-link"><a href="/contacto">CONTACTO</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>