<ul class="space-x-2 lg:space-x-5 font-bold" style="display:inherit">
  <li class="navigation-link"><a href="/">INICIO</a></li>
  <li class="navigation-link">
    <div class ="inline-block relative">
      <p>SERVICIOS</p>
    <div class="navigation-dropdown absolute bg-white p-2">
      <ul>
        <li class="navigation-link"><a href="/servicios_natacion">NATACIÓN</a></li>
        <li class="navigation-link"><a href="/servicios_hidrogimnasia">HIDROGIMNASIA</a></li>
      </ul>
    </div>
  </li>
  <li class="navigation-link"><a href="/beneficios">BENEFICIOS</a></li>
  <li class="navigation-link"><a href="/cursos">CURSOS</a></li>
  <li class="navigation-link"><a href="/horarios">HORARIOS</a></li>
  <li class="navigation-link"><a href="/precios">PRECIOS</a></li>
  <li class="navigation-link"><a href="/contacto">CONTACTO</a></li>
</ul>