<div class="layout">
  <div class="mt-12 mx-auto">
    <div><img src="/images/horarios.jpg", alt="Horarios Piscina"></div>
    <div class="mt-4"><p>Si usted no comprende este horario, por favor diríjase a nuestra página en Facebook <b><a href="https://www.facebook.com/centronatacion.patriciathompson">Centro de Natación Patricia Thompson</a></b>, o comuníquese con nosotros al +56 2 2204 4096</p></div>
  </div>
  <hr>
</div>