<div class="w3-display-middle">
    <h1>Piscinas Patty Thompson</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Coming Soon</p>
</div>

<div>
  <p>
    Estos son los horarios de las piscinas de Patty Thompson.
  </p>
</div>