<div class="layout">

<div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel">
<div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
  <button
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide-to="0"
    class="active"
    aria-current="true"
    aria-label="Slide 1"
  ></button>
  <button
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide-to="1"
    aria-label="Slide 2"
  ></button>
  <button
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide-to="2"
    aria-label="Slide 3"
  ></button>
</div>
<div class="carousel-inner relative w-full overflow-hidden">
  <div class="carousel-item active relative float-left w-full">
    <img
      src="/images/hero1_instalaciones.jpg"
      class="block w-full"
      alt="..."
    />
    <div class="carousel-caption mb-5 hidden md:block absolute text-center">
      <h5 class="text-2xl mb-8">Nuestras Instalaciones</h5>
      <a class="carousel-link  mb-6" href="">VER INFO</a>
    </div>
  </div>
  <div class="carousel-item relative float-left w-full">
    <img
      src="/images/hero2_hidrogimnasia.jpg"
      class="block w-full"
      alt="..."
    />
    <div class="carousel-caption mb-5 hidden md:block absolute text-center">
      <h5 class="text-2xl mb-8">Hidrogimnasia</h5>
      <a class="carousel-link  mb-6" href="">VER INFO</a>
    </div>
  </div>
  <div class="carousel-item relative float-left w-full">
    <img
      src="/images/hero3_natacion.jpg"
      class="block w-full"
      alt="..."
    />
    <div class="carousel-caption mb-5 hidden md:block absolute text-center">
      <h5 class="text-2xl mb-8">Natación para Niños</h5>
      <a class="carousel-link  mb-6" href="">VER INFO</a>
    </div>
  </div>
</div>

<button
  class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
  type="button"
  data-bs-target="#carouselExampleCaptions"
  data-bs-slide="prev"
>
  <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button
  class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
  type="button"
  data-bs-target="#carouselExampleCaptions"
  data-bs-slide="next"
>
  <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>


</div>
  <div class="flex justify-center my-4 space-x-5">
    <p class="text-xl">Cursos de Natación para Niños y Adultos, contáctese con nuestro Centro de Natación.</p>
    <a class="call-to-action" href="#">Valores y Horarios</a>
  </div>

  <div>
    <div><h1>Servicios</h1></div>
    <div class="flex">
      <div class="flex-1 mr-12">
        <div><img src="/images/index1_cursos.jpg", alt="Cursos"></div>
        <h2>Cursos de Natación</h2>
        <p>Clases personalizadas, cada alumno trabaja en su correspondiente nivel.</p>
      </div>
      <div class="flex-1 mx-10">
        <div><img src="/images/index2_hidrogimnasia.jpg", alt="Hidrogimnasia"></div>
        <h2>Hidrogimnasia</h2>
        <p>Hidrogimnasia es una técnica de gimnasia considerada aeróbica por el elevado consumo de oxígeno que precisa.</p>
      </div>
      <div class="flex-1 ml-12">
        <div><img src="/images/index3_masajes.jpg", alt="Masajes Ceragem"></div>
        <h2>Masajes Ceragem</h2>
        <p>Camillas termo-masajeadoras</p>
      </div>
    </div>
  </div>
</div>

  <div class="nosotros">
  <div class="layout">
    <div><h1>Nosotros</h1></div>
    <div class="flex">
      <div class="mr-12">
        <h2>Centro de Natación</h2>
        <p>El Centro de Natación Patricia Thompson imparte clases de natación tanto básico como avanzado a niños y adultos por más de 25 años. Cuenta con una piscina temperada especialmente diseñada por profesionales del ramo, para la enseñanza y práctica de la natación, rehabilitación en agua, hidrogimnasia y actividades acuáticas recreativas. La piscina cuenta con una amplia rampa interior con pendiente suave que parte con una profundidad de 0.30 mts. hasta llegar a una profundidad de 1.25 mts. dando así plena seguridad al adulto o niño que tenga temor al agua. El Centro de Natación Patricia Thompson está equipado con cómodos e higiénicos camarines en un ambiente calefaccionado.</p>
      </div>
      <div>
        <div><h2>Contáctenos</h2></div>
        <div>
        <ul>
          <li>22-20-44-096</li>
          <li>Av. Francisco Bilbao 1136 - Providencia</li>
          <li>centrodenatacion@gmail.com</li>
          <li>centrodenatacion.cl</li>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contacto">
  <div class="layout">
    <div class="flex flex-col content-center">
      <div><h1>Contacto</h1></div>
      <div class="content-center"><p>Si desea ponerse en contacto con nosotros sólo envíenos un mail <br>
      O llámenos al 22 20-44-096 para reservar una hora con nosotros.</p></div>
      <div><%= erb :contacto_form %></div>
    </div>
  </div>
</div>

<div class="layout">
  <div>
  <p>MAPA INCRUSTADO</p>
  </div>
</div>