<%= erb :carousel%>

<div class="layout">
  <div class="index mb-6">
    <div class="text-3xl pt-12 mb-8 text-center font-semibold"><p>Servicios</p></div>
    <div class="md:flex mb-4 md:space-x-12">
      <div class="flex-1 py-4">
        <div><img src="/images/index1_cursos.jpg", alt="Cursos"></div>
        <div class="text-2xl mt-4"><a href="/servicios_natacion">Cursos de Natación</a></div>
        <div class="mt-3"><p>Cursos básicos, avanzados, clases personalizadas o nado libre, cada alumno trabaja en su correspondiente nivel. Clases para adultos y niños. </p></div>
      </div>
      <div class="flex-1 py-4">
        <div><img src="/images/index2_hidrogimnasia.jpg", alt="Hidrogimnasia"></div>
        <div class="text-2xl mt-4"><a href="/servicios_hidrogimnasia">Hidrogimnasia</a></div>
        <div class="mt-3"><p>Hidrogimnasia es una técnica de gimnasia considerada aeróbica por el elevado consumo de oxígeno que precisa.</p></div>
      </div>
    </div>
  </div>
</div>

<div class="nosotros">
  <div class="layout">
    <div class="text-3xl mb-8 text-center font-semibold"><p>Nosotros</p></div>
    <div class="lg:flex lg:space-x-4">
      <div class="flex items-stretch">
        <div>
          <div class="text-2xl mb-4"><p>El Centro</p></div>
          <p>El Centro de Natación Patricia Thompson imparte clases de natación tanto básico como avanzado a niños y adultos por más de 25 años. Cuenta con una piscina temperada especialmente diseñada por profesionales del ramo, para la enseñanza y práctica de la natación, rehabilitación en agua, hidrogimnasia y actividades acuáticas recreativas. La piscina cuenta con una amplia rampa interior con pendiente suave que parte con una profundidad de 0.30 mts. hasta llegar a una profundidad de 1.25 mts. dando así plena seguridad al adulto o niño que tenga temor al agua. El Centro de Natación Patricia Thompson está equipado con cómodos e higiénicos camarines en un ambiente calefaccionado.</p>
        </div>
      </div>
      <img class="flex lg:max-w-[40%] rounded-xl mt-6" src="/images/index4_nosotros.jpg", alt="Historia de la Piscina">
    </div>
  </div>
</div>

<div class="layout index">
  <div class="text-3xl pt-12 mb-8 text-center font-semibold"><p>Cómo llegar</p></div>
  <div class="flex justify-center">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.3793597281065!2d-70.61991778509194!3d-33.439421704331785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf7f6c014139%3A0x3fb5720a7612e58d!2sSwimming%20Center%20Patricia%20Thompson!5e0!3m2!1sen!2scl!4v1666623341176!5m2!1sen!2scl" width="900" height="675" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<hr>
</div>