<div class="layout">
  <div class="hero-image">
    <div class="hero-text">
      <h1>Nuestras instalaciones</h1>
      <button>Ver Info</button>
    </div>
  </div>
  
  <div>
    <p>Cursos de Natación para Niños y Adultos, contáctese con nuestro Centro de Natación. Valores y Horarios</p>
  </div>

  <div>
    <div><h1>Servicios</h1></div>
    <div class="flex">
      <div>
        <div><img src="/images/index1_cursos.jpg", alt="Cursos"></div>
        <h2>Cursos de Natación</h2>
        <p>Clases personalizadas, cada alumno trabaja en su correspondiente nivel.</p>
      </div>
      <div>
        <div><img src="/images/index2_hidrogimnasia.jpg", alt="Hidrogimnasia"></div>
        <h2>Hidrogimnasia</h2>
        <p>Hidrogimnasia es una técnica de gimnasia considerada aeróbica por el elevado consumo de oxígeno que precisa.</p>
      </div>
      <div>
        <div><img src="/images/index3_masajes.jpg", alt="Masajes Ceragem"></div>
        <h2>Masajes Ceragem</h2>
        <p>Camillas termo-masajeadoras</p>
      </div>
    </div>
  </div>

  <div>
    <div><h1>Nosotros</h1></div>
    <div class="flex">
      <div>
        <h2>Centro de Natación</h2>
        <p>El Centro de Natación Patricia Thompson imparte clases de natación tanto básico como avanzado a niños y adultos por más de 25 años. Cuenta con una piscina temperada especialmente diseñada por profesionales del ramo, para la enseñanza y práctica de la natación, rehabilitación en agua, hidrogimnasia y actividades acuáticas recreativas. La piscina cuenta con una amplia rampa interior con pendiente suave que parte con una profundidad de 0.30 mts. hasta llegar a una profundidad de 1.25 mts. dando así plena seguridad al adulto o niño que tenga temor al agua. El Centro de Natación Patricia Thompson está equipado con cómodos e higiénicos camarines en un ambiente calefaccionado.</p>
      </div>
      <div>
        <div><h2>Contáctenos</h2></div>
        <div>
        <ul>
          <li>22-20-44-096</li>
          <li>Av. Francisco Bilbao 1136 - Providencia</li>
          <li>centrodenatacion@gmail.com</li>
          <li>centrodenatacion.cl</li>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div><h1>Contacto</h1></div>
    <p>Si desea ponerse en contacto con nosotros sólo envíenos un mail
    O llámenos al 22 20-44-096 para reservar una hora con nosotros.</p>
    <p>FORMULARIO</p>
  </div>

  <div>
    <p>MAPA INCRUSTADO</p>
  </div>
</div>