<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Centro Natación | Patricia Thompson</title>
    <link href="/stylesheets/output.css" rel="stylesheet">
    <link href="/stylesheets/layout.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
  </head>
  <body>
    <div>
      <%= erb :header %>
      <div>
        <%= yield %>
      </div>
      <%= erb :footer %>
      <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    </div>
  </body>
</html>