<header>
  <nav>
    <div class="header-top">
      <div class="layout flex justify-between">
        <div class="flex">
          <div><a href="/contacto">Cómo llegar</a></div>
          <div><p>+56 2 2204 4096	</p></div>
        </div>
        <div class="flex">
          <div class="icon"><img src="/images/icons/Facebook.svg", alt="Facebook"></div>
          <div class="icon"><img src="/images/icons/Instagram.svg", alt="Instagram"></div>
          <div class="icon"><img src="/images/icons/Street-view.png", alt="Street View"></div>
          <div class="icon"><img src="/images/icons/Map.svg", alt="Ubicación"></div>
          <div class="icon"><img src="/images/icons/Email.png", alt="Email"></div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="layout flex justify-between">
        <div class="flex">
          <div class="logo"><img src="/images/logo_centro_natacion.png", alt="Logo"></div>
          <div>
            <p>Centro de Natación</p>
            <p>Patricia Thompson</p>
          </div>
        </div>
        <div>
          <ul class="flex">
            <li><a href="/">Inicio</a></li>
            <li><a href="/servicios_natacion">Servicios-N</a></li>
            <li><a href="/servicios_hidrogimnasia">Servicios-H</a></li>
            <li><a href="/servicios_masajes">Servicios-M</a></li>
            <li><a href="/beneficios">Beneficios</a></li>
            <li><a href="/cursos">Cursos</a></li>
            <li><a href="/horarios">Horarios</a></li>
            <li><a href="/precios">Precios</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>