<div class="layout precios">
  <div class="mt-12">
    <div>
      <div class="mt-12 mb-8"><h3 class="text-3xl">Precios</h2></div>
      <div><p>Los precios son por grupo o paquete de clases por mes. El mes comienza cuando el alumno ingresa al Centro de Natación, no importando la fecha calendario.</p></div>
      <%= erb :tablaprecios %>
      <div class="text-sm mt-2">Valores actualizados a <b>noviembre de 2022</b>.</div>
    </div>
    <div class="text-sm mt-1"><p><b>Nota</b>: Cuando se habla de asistencia mínima, no significa que no se pueda asistir a clases más veces en la semana.
    Ej: Alguien puede tomar un curso de 8 clases pagando $65.000 viniendo de lunes a viernes, es decir hace el curso completo en una semana y media en lugar de un mes.</p></div>
  </div>
  <hr>
</div>