<div class="layout">
  <div class="flex">
    <div>
      <div><img src="/images/precios.jpg", alt="Precios Piscina"></div>
    </div>
    <div>
      <%= erb :sabiausted %>
    </div>
  </div>
  <div><b>Valores actualizados: Diciembre 2018</b></div>
  <div class="flex">
    <div class="flex-1"><p>* Las clases de Natación niños consisten en un programa especial de sesiones de 2 horas pedagógicas (45 min.) seguidas; En total cada sesión tiene una duración de una hora y media (90 min. = 45 min x 2).
    Por lo tanto se hacen 2 clases por sesión. En 4 sesiones se hacen 8 clases.</p></div>
    <div class="flex-1"><p><b>Nota</b>: Cuando se habla de asistencia mínima, no significa que no se pueda asistir a clases más veces en la semana.
    Ej: Alguien puede tomar un curso de 8 clases pagando $35.000 viniendo de lunes a viernes, es decir hace el curso completo en una semana y media en lugar de un mes.</p></div>
    <div class="flex-1"><p>Los precios son por grupo o paquete de clases por mes.
    El mes comienza cuando el alumno ingresa al Centro de Natación, no importando la fecha calendario.</p></div>
  </div>
  <hr>
  <div class="flex">
    <div class="flex-1">
      <div><b>Clases particulares</b></div>
      <div><p>Se considera como clases particulares a clases individuales o para grupos reducidos de personas por profesor.
      Los grupos pueden ser conformados hasta por un máximo de tres personas.
      Estos pueden conformarse por niños, jóvenes y adultos o combinados (por ej. padres con hijos).
      La cantidad mínima de clases por grupo o individuales son 4.
      El período máximo de tiempo para realizarlas es de un mes.
      La duración de la clase es de 60 min. para mayores de 12 años y de 45 min. para menores de 12 años.</p></div>
    </div>
    <div class="flex-1"><img src="/images/precios2.jpg", alt="Miembros Piscina"></div>
  </div>
  <hr>
  <div><%= erb :banner_vyh %></div>
</div>