<div class="layout precios">
  <div>
    <div>
      <div><img src="/images/precios.jpg", alt="Precios Piscina"></div>
      <div class="text-sm mt-2">Valores actualizados a <b>diciembre de 2018</b>.</div>
    </div>
    <div class="text-sm mt-1"><p><b>Nota</b>: Cuando se habla de asistencia mínima, no significa que no se pueda asistir a clases más veces en la semana.
    Ej: Alguien puede tomar un curso de 8 clases pagando $35.000 viniendo de lunes a viernes, es decir hace el curso completo en una semana y media en lugar de un mes.</p></div>
  </div>

  <hr>
  <div class="flex mb-4">
    <div class="flex-1">
      <div><h2>Clases particulares</h2></div>
      <div class="mt-6 mr-4"><p>Se considera como clases particulares a clases individuales o para grupos reducidos de personas por profesor. Los grupos pueden ser conformados hasta por un máximo de tres personas, y pueden conformarse por niños, jóvenes y adultos o combinados (por ej. padres con hijos).
      La cantidad mínima de clases por grupo o individuales son 4.
      El período máximo de tiempo para realizarlas es de un mes.
      La duración de la clase es de 60 min. para mayores de 12 años y de 45 min. para menores de 12 años.</p></div>
    </div>
    <div class="flex-1 mt-8"><img src="/images/precios2.jpg", alt="Miembros Piscina"></div>
  </div>
  <hr>
</div>