<div class= "p-3" style= "background-color:#add8e6">
  <div><h2>¿Sabía usted que...?</h2></div>
  <div>
    <ul>
      <li>... las personas que practican alguna actividad física en forma regular tienen una recuperación mejor y más rápida después de una dolencia que las que no la practican?</li>
      <li>... estas tienen una mayor calidad de vida y una apariencia física más fuerte y armoniosa? </li>
      <li>... estas además fortalecen y tonifican sus músculos y huesos, disminuyendo la probabilidad de lesiones y fracturas?</li>
      <li>... la natación previene dolencias futuras propias de la edad, evitando gastos médicos a futuro?</li>
      <li>... tanto la hidrogimnasia como la natación son actividades que no producen impacto en columna, huesos y articulaciones, trabajan todos los grupos musculares, y queman grasa?</li>
      <li>... esta piscina cuenta con 100 metros cuadrados para su clase, sin actividades simultáneas que interfieran en el desarrollo de su actividad?</li>
      <li>... contamos con horarios disponibles tanto en las mañanas como en las tardes, durante todo el año, para armar un horario a su gusto?</li>
  </div>
</div>