<div class= "p-3" style= "background-color:#add8e6">
  <div><h2>Beneficios de la hidrogimnasia</h2></div>
  <div>
    <ul class="list-disc">
      <li>¿Está tenso? Venga, haga <b>hidrogimnasia</b> y vuelva relajado a su casa</li>
      <li>¿No sabe nadar? ¡No se inquiete! Venga, aprenda y aproveche de hacer <b>hidrogimnasia</b> por el mismo precio</li>
      <li>¿Le aburre la gimnasia tradicional? ¡Salga de la rutina! Venga a nadar y practique <b>hidrogimnasia</b>, aproveche la energía del agua en su beneficio</li>
      <li>¿Le tiene terror al agua y quiere superarlo? Venga al <b>Centro de Natación Patricia Thompson</b>, tenemos una piscina especial donde aprenderá sin temores, donde logrará superar sus miedos y se sentirá seguro</li>
      <li>¿Quiere hacer <b>hidrogimnasia</b> y no sabe nadar? No se preocupe, aquí la puede hacer y además va a aprender a nadar</li>
  </div>
</div>