<div class= "px-6 py-3 rounded-xl" style= "background-color:#add8e6">
  <div><h2><strong>Beneficios de la hidrogimnasia</strong></h2></div>
  <div>
    <ul class="mt-6">
      <li class="mt-5">¿Está tenso? Haga <b>hidrogimnasia</b> y vuelva relajado a su casa</li>
      <li class="mt-5">¿No sabe nadar? Aprenda y aproveche de hacer <b>hidrogimnasia</b> por el mismo precio</li>
      <li class="mt-5">¿Le aburre la gimnasia tradicional? ¡Salga de la rutina! Venga a nadar y practique <b>hidrogimnasia</b>, aproveche la energía del agua en su beneficio</li>
      <li class="mt-5">¿Le tiene terror al agua y quiere superarlo? Venga al <b>Centro de Natación Patricia Thompson</b>, en nuestra piscina aprenderá sin temores y logrará superar sus miedos</li>
      <li class="mt-5">¿Quiere hacer <b>hidrogimnasia</b> y no sabe nadar? No se preocupe, aquí la puede hacer y además aprender a nadar</li>
  </div>
</div>