
<div class="layout mt-4">
  <div><img src="/images/servicios-masaje1.png", alt="Masajes"></div>
  <hr>
  <div><h1>Masajes Manuales</h1></div>
  <div class="flex">  
    <div class="mr-3">  
      <div><h2>Masaje de Relajación</h2></div>
      <div>
        <ul>
          <li>Calma el sistema nervioso</li>
          <li>Exfolia y promueve la regeneración celular</li>
          <li>Elimina el insomnio</li>
          <li>Relaja los músculos</li>
        </ul>
      </div>
      <div><p>El objetivo de estos tratamientos es ayudar a eliminar el cúmulo de grasa localizada y estilizar el contorno corporal logrando una silueta más estética.</p></div>
    </div>
    <div class="mx-2">
      <div><h2>Masaje Facial (Endomasaje)</h2></div>
      <div><p>El tratamiento Endo-Activo facial produce una mejoría notable en los procesos circulatorios y de drenaje del rostro.</p></div>
    </div>
    <div class="ml-3">
      <div><h2>Reductivo, Reafirmante, Anticelulítico y Drenaje Linfático</h2></div>
      <div><p>El objetivo de estos tratamientos es ayudar a eliminar el cúmulo de grasa localizada y estilizar el contorno corporal logrando una silueta más estética.</p></div>
    </div>
  </div>

  <hr>

  <div>
    <div><h3>Valores Masajes Manuales</h3></div>
    <ul>
      <li>Una (1) sesión de masaje de relajación: $20.000</li>
      <li>Plan mensual 4 sesiones: $60.000</li>
      <li>Plan mensual 8 sesiones: $ 130.000 (puede compartirse entre 2 clientes)</li>
    </ul>
  </div>

  <div>
    <div><h3>Funcionamiento</h3></div>
    <div><p>Horario de atención:  De martes a viernes</p></div>
    <div><p>Se debe solicitar una hora de atención la que será confirmada internamente con la profesional, luego se le devolverá el llamado con la fecha y hora confirmada o bien proponiendo otra hora de atención en caso de estar ocupada la solicitada.  La hora de atención queda definitivamente confirmada al ser esta cancelada por el cliente, Esta puede ser cancelada personalmente, o a través de transferencia electrónica o bancaria.</p></div>
  </div>

  <hr>

  <div class="flex">
    <div class="flex-1 mr-3">
      <div><h1>Camillas termo-masajeadoras</h1></div>
      <div><p>Los masajes en la camillas termo-masajes le ayudarán a:</p></div>
      <ul>
        <li><b>Mejorar</b> la circulación de la sangre</li>
        <li><b>Flexibilizar</b> las articulaciones rígidas</li>
        <li><b>Aliviar</b> el dolor muscular y el estrés</li>
        <li><b>Reducir</b> las toxinas corporales</li>
        <li><b>Relajar</b> las tensiones y contracturas de la espalda</li>
        <li><b>Rejuvenecer</b> la columna y la piel</li>
        <li><b>Promover</b> el sueño profundo, pacífico y descansador</li>
      </ul>
      <div><img src="/images/servicios-masaje2-ceragem.jpg", alt="Cama de masaje con piedra de jade Ceragem"></div>
    </div>
    <div class="flex-1 ml-3">
      <div><h1>Principios aplicados</h1></div>
      <ul>
        <li><b>Quiropraxia</b>: corrección de la columna mediante la alineación y estiramiento de ésta.</li>
        <li><b>Masaje y Acupresión</b>: masaje que relaja los músculos y tendones que rodean la columna.</li>
        <li><b>Moxibustión</b>: calor que penetra en el cuerpo relajando y aliviando tensiones.</li>
        <li><b>Calor infrarrojo</b>: desinflama, desinfecta, activa el sistema circulatorio e inmunológico.</li>
      </ul>
      <div><img src="/images/servicios-masaje3.png", alt="Servicio de quiropraxia"></div>
    </div>
  </div>
  <%= erb :banner_vyh %>
</div>