<div><img src="/images/hidrogimnasia1.jpg", alt="Hidrogimnasia"></div>

<div class="layout">
  <div class="lg:flex">
    <div class="mt-12 text-slate-500">
      <div class="mt-12 mb-8"><h3 class="text-3xl font-semibold text-center">Hidrogimnasia</h2></div>
      <div class="hidro lg:flex lg:space-x-4">
        <div class="rounded-xl shadow-md"><p class="p-8">La hidrogimnasia es una serie de ejercicios físicos con música usando el medio acuático, eliminando el impacto que sufren las articulaciones al realizar actividades físicas fuera del agua.<br><br>

        Favorece el desarrollo y la fuerza muscular y ayuda a perder peso, ya que corazón y pulmones se ven sometidos a un esfuerzo mantenido.<br><br> 
        
        Estimula la oxigenación de los tejidos, proporcionando un alto nivel de resistencia muscular, y mejora el sentido del equilibrio.</p></div>
      </div>
    </div>
  </div>
  <div class="hidro mt-12 text-slate-500">
    <div class="px-8 py-4 text-2xl"><p>Clases de hidrogimnasia</p></div>
    <p class="px-8 py-4">La clase consiste en:</p>
    <ul class="list-disc list-inside leading-loose px-8">
      <li class=""><b>30 minutos</b> de acondicionamiento físico en el agua</li>
      <li class="my-3"><b>15 minutos</b> de natación dirigida</li>
      <li class="my-3"><b>15 minutos</b> de trabajos designados por el profesor</li>
    </ul>
  </div>
  <hr>
</div>