<div class="layout">
  <div class="flex my-6">
      <div class="hidro1 mr-12">
        <div><img class="rounded-xl" src="/images/hidrogimnasia1.jpg", alt="Hidrogimnasia"></div>
        <hr>
        <div class="flex">
          <p>La hidrogimnasia es una técnica de gimnasia considerada aeróbica por su elevado consumo de oxígeno. Son ejercicios físicos con música usando el medio acuático; eliminando el impacto que sufren las articulaciones al realizar actividades físicas fuera del agua.</p>
          <p>El esfuerzo realizado por los músculos se ve aumentado por la resistencia del agua, lo que hace que la necesidad de oxígeno se eleve.
          Favorece el desarrollo y la fuerza muscular y ayuda a perder peso, ya que corazón y pulmones se ven sometidos a un esfuerzo mantenido.</p>
          <p>Favorece la relajación de grupos musculares, sobre todo los posturales, y aumenta el tono de otros no utilizados en condiciones normales fuera del agua. Estimula la oxigenación de los tejidos, proporcionando un alto nivel de resistencia muscular, y mejora el sentido del equilibrio.</p>
          <p>Basa sus beneficios en la acción del agua sobre el organismo, gracias la disminución de la fuerza de la gravedad y en el aumento o disminución de la resistencia ante el movimiento.</p>
        </div>
      </div>
      <div class="hidro2 flex items-stretch">
        <%= erb :sabiaustedhidro %>
      </div>
  </div>
  <hr>
</div>