<div><img class="relative" src="/images/servicios-natacion1.jpg", alt="Natación"></div>

<div class="layout">
  <div class="natacion">
    <div class="mt-12 mb-8"><h3 class="text-3xl font-semibold text-center">Natación</h2></div>
    <div class="lg:flex lg:space-x-4">
      <div class="rounded-xl shadow-md"><p class="p-8 text-slate-500">Saber nadar significa poder mantenerse a flote en el agua mediante la ayuda de movimientos ordenados y siguiendo principios determinados.<br><br>
      
      La natación es el deporte ideal por excelencia: puede practicarlo cualquier persona, sin distinción de edad ni sexo; su práctica desarrolla todas las partes del cuerpo; y, junto con la mente, trabajan en pro de un desarrollo sano y eficaz.<br><br>
      
      El agua es cada vez más una diversión primordial, presente en lagos, ríos, piscinas o en el mar. Existe también la conciencia general hacia el deporte, la salud, la vida sana y hacia los peligros por no saber nadar.
      </p></div>
    </div>
  </div>
  <div class="natacion mt-12 flex items-stretch">
    <%= erb :cursos %>
  </div>
</div>