<div class="layout">
  <div class="flex my-6">
      <div class="natacion1 mr-12">
        <div><img src="/images/servicios-natacion1.jpg", alt="Natación"></div>
        <hr>
        <div class="flex">
          <div class="flex-auto pr-3"><p>Saber nadar significa poder mantenerse a flote en el agua mediante la ayuda de movimientos ordenados y siguiendo principios determinados. La natación es el deporte ideal por excelencia: puede practicarlo cualquier persona, sin distinción de edad ni sexo; su práctica desarrolla todas las partes del cuerpo; y, junto con la mente, trabajan en pro de un desarrollo sano y eficaz.</p></div>
          <div class="flex-auto px-2"><p>El que se practique en el agua tiene la ventaja de que el peso de la persona disminuye debido a la pérdida de gravedad, mejorando el equilibrio y la coordinación motora; pudiendo desenvolverse mejor y sin grandes esfuerzos (excepto en la competición). La natación como deporte es muy antigua, pero hasta hace poco tiempo no se le había dado el reconocimiento que se merece.</p></div>
          <div class="flex-auto pl-3"><p>El agua es cada vez más una diversión primordial, presente en lagos, ríos, piscinas o en el mar. Existe también la conciencia general hacia el deporte, la salud, la vida sana y hacia los peligros por no saber nadar.
          Con la práctica de la natación se obtiene un beneficio doble; la salud se lo merece y el descanso de la mente lo agradece, especialmente en la sociedad actual.
          </p></div>
        </div>
      </div>
      <div class="natacion2  ml-12">
        <%= erb :sabiausted %>
      </div>
  </div>
</div>