<div class="flex justify-center pricestable">
  <div>
    <div class="mt-8 mb-6 text-xl text-center border-2">Precios Adultos y Niños</div>
    <div class="flex flex-col">
      <div class="border-2 flex pricestable-headers">
        <div class="flex-1 pricestable-headercells">Actividad</div>
        <div class="flex-1 pricestable-headercells">Número de clases</div>
        <div class="flex-1 pricestable-headercells">Asistencia mínima</div>
        <div class="flex-1 pricestable-headercells">Precios (CLP)</div>
      </div>
      <div class="pricestable-rows">
        <div class="pricestable-rowcells">Hidrogimnasia</div>
          <div class="pricestable-rowcells flex flex-col items-center">
          <div>4</div>
          <div>8</div>
        </div>
        <div class="pricestable-rowcells flex flex-col items-center">
          <div>1 vez por semana</div>
          <div>2 veces por semana</div>
        </div>   
        <div class="pricestable-rowcells flex flex-col items-center">
          <div>42.000 / 50.000 *</div>
          <div>72.000 / 92.000 *</div>
        </div>
      </div>
      <div class="pricestable-rows">
        <div class="pricestable-rowcells">Nado libre</div>
        <div class="pricestable-rowcells flex flex-col items-center">
          <div>4</div>
          <div>8</div>
          <div>12</div>
        </div>
        <div class="flex pricestable-rowcells flex flex-col items-center">
          <div>1 vez por semana</div>
          <div>2 veces por semana</div>
          <div>3 veces por semana</div>
        </div>      
        <div class="flex pricestable-rowcells flex flex-col items-center">
          <div>35.000</div>
          <div>65.000</div>
          <div>95.000</div>
        </div>
      </div>
      <div class="pricestable-rows">
        <div class="pricestable-rowcells">Clases para niños</div>
        <div class="pricestable-rowcells flex flex-col items-center">
          <div>4</div>
          <div>8</div>
        </div>
        <div class="pricestable-rowcells flex flex-col items-center">
          <div>1 vez por semana</div>
          <div>2 veces por semana</div>
        </div>      
        <div class="pricestable-rowcells flex flex-col items-center">
          <div>50.000</div>
          <div>90.000</div>
        </div>
      </div>
      <div class="pricestable-rows">
        <div class="pricestable-rowcells">Papá e hijo</div>
        <div class="pricestable-singlerows">4</div>
        <div class="pricestable-singlerows">1 vez por semana</div>
        <div class="pricestable-singlerows">140.000</div>
      </div>
      <div class="pricestable-rows">
        <div class="pricestable-rowcells">Clases particulares</div>
        <div class="pricestable-singlerows">4</div>
        <div class="pricestable-singlerows">1 vez por semana</div>
        <div class="pricestable-singlerows">140.000</div>
      </div>
    </div>
  </div>
</div>