<div class="flex justify-center pricestable">
  <div>
    <div class="mt-8 mb-6 text-xl text-center border-2">Precios Adultos y Niños</div>
    <div class="flex flex-col">
      <div class="border-2 flex pricestable-headers">
        <div class="flex-1 pricestable-headercells">Actividad</div>
        <div class="flex-1 pricestable-headercells">Número de clases</div>
        <div class="flex-1 pricestable-headercells">Asistencia mínima</div>
        <div class="flex-1 pricestable-headercells">Precios (CLP)</div>
      </div>
      <div class="pricestable-rows">
        <div class="pricestable-rowcells">Hidrogimnasia</div>
          <div class="pricestable-rowcells flex flex-col items-center pricestable-ampmcolumn divide-y">
          <div class="text-xs pt-1 text-white">columna</div>
          <div>4</div>
          <div>8</div>
          <div>-</div>
        </div>
        <div class="pricestable-rowcells flex flex-col items-center pricestable-ampmcolumn divide-y">
          <div class="text-xs pt-1 text-white">columna</div>
          <div>1 vez por semana</div>
          <div>2 veces por semana</div>
          <div>Menos de 1 semanal</div>
        </div>
        <div class="pricestable-rowcells flex flex-col items-center pricestable-ampmcolumn divide-y">
          <div class="flex justify-between text-xs pt-1 w-full">
            <div>Horario AM</div>
            <div>Horario PM</div>
          </div>
          <div class="flex justify-between w-full">
            <div class="px-3">47.000</div>
            <div class="px-3">55.000</div>
          </div>
          <div class="flex justify-between w-full">
            <div class="px-3">75.000</div>
            <div class="px-3">94.000</div>
          </div>
          <div>18.000 por clase</div>
        </div>
      </div>
      <div class="pricestable-rows">
        <div class="pricestable-rowcells">Nado libre</div>
        <div class="pricestable-rowcells flex flex-col items-center divide-y">
          <div>4</div>
          <div>8</div>
          <div>12</div>
          <div>-</div>
        </div>
        <div class="flex pricestable-rowcells flex flex-col items-center divide-y">
          <div>1 vez por semana</div>
          <div>2 veces por semana</div>
          <div>3 veces por semana</div>
          <div>Menos de 1 semanal</div>
        </div>
        <div class="flex pricestable-rowcells flex flex-col items-center divide-y">
          <div>38.000</div>
          <div>67.000</div>
          <div>97.000</div>
          <div>12.000 por clase</div>
        </div>
      </div>
      <div class="pricestable-rows">
        <div class="pricestable-rowcells">Clases grupales para niños</div>
        <div class="pricestable-rowcells flex flex-col items-center divide-y">
          <div>4</div>
          <div>8</div>
          <div>-</div>
        </div>
        <div class="pricestable-rowcells flex flex-col items-center divide-y">
          <div>1 vez por semana</div>
          <div>2 veces por semana</div>
          <div>Menos de 1 semanal</div>
        </div>
        <div class="pricestable-rowcells flex flex-col items-center divide-y">
          <div>55.000</div>
          <div>93.000</div>
          <div>18.000 por clase</div>
        </div>
      </div>
      <div class="pricestable-rows">
        <div class="pricestable-rowcells">Grupal adultos</div>
        <div class="pricestable-singlerows">4</div>
        <div class="pricestable-singlerows">1 vez por semana</div>
        <div class="pricestable-singlerows">95.000</div>
      </div>
      <div class="pricestable-rows">
        <div class="pricestable-rowcells">Clases particulares</div>
        <div class="pricestable-rowcells flex flex-col items-center divide-y">
          <div>4</div>
          <div>-</div>
        </div>
        <div class="pricestable-rowcells flex flex-col items-center divide-y">
          <div>1 vez por semana</div>
          <div>Menos de 1 semanal</div>
        </div>
        <div class="pricestable-rowcells flex flex-col items-center pricestable-personcolumn divide-y">
          <div>
            <div class="flex justify-between text-xs w-full">
              <div>1 persona</div>
              <div>2 personas</div>
              <%# <div>3 personas</div> %>
            </div>
            <div class="flex text-xs divide-y space-x-3">
              <div>158.000</div>
              <div>124.000 c/u</div>
              <%# <div>110.000 c/u</div>  %>
            </div>
          </div>
          <div>39.500 por clase</div>
        </div>
      </div>
    </div>
  </div>
</div>