<div class="flex justify-center timetable">
  <div>
    <div class="mt-8 mb-6 text-xl text-center border-2">Horario Adultos y Niños</div>
    <div class="flex">
      <div class="md:flex-1">
        <div class="timetable-cells timetable-headercells">Horario</div>
        <div class="timetable-cells timetable-hourcells">10:00</div>
        <div class="timetable-cells timetable-hourcells">11:00</div>
        <div class="timetable-cells timetable-hourcells">12:00</div>
        <div class="timetable-cells timetable-hourcells">13:00</div>
        <div class="timetable-cells timetable-hourcells">14:00</div>
        <div class="timetable-cells timetable-hourcells">15:00</div>
        <div class="timetable-cells timetable-hourcells">16:00</div>
        <div class="timetable-cells timetable-hourcells">17:00</div>
        <div class="timetable-cells timetable-hourcells">18:00</div>
        <div class="timetable-cells timetable-hourcells">19:00</div>
        <div class="timetable-cells timetable-hourcells">20:00</div>
      </div>
      <div class="md:flex-1">
        <div class="timetable-cells timetable-headercells">Lunes</div>
        <div class="timetable-cells timetable-emptycells">S-C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-occupiedcells t-singlelinecells">Niños</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
      </div>
      <div class="md:flex-1">
        <div class="timetable-cells timetable-headercells">Martes</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-occupiedcells t-singlelinecells">Hidrogimnasia</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells t-singlelinecells">Niños</div>
        <div class="timetable-cells timetable-occupiedcells t-singlelinecells">Niños</div>
        <div class="timetable-cells timetable-emptycells t-halfhourcell">S/C</div>
        <div class="timetable-cells timetable-occupiedcells t-singlelinecells">Hidrogimnasia</div>
        <div class="timetable-cells timetable-occupiedcells t-singlelinecells">Hidrogimnasia</div>
        <div class="timetable-cells timetable-emptycells t-halfhourcell">S/C</div>
      </div>
      <div class="md:flex-1">
        <div class="timetable-cells timetable-headercells">Miercoles</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
      </div>
      <div class="md:flex-1">
        <div class="timetable-cells timetable-headercells">Jueves</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-occupiedcells t-singlelinecells">Hidrogimnasia</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells t-singlelinecells">Niños</div>
        <div class="timetable-cells timetable-occupiedcells t-singlelinecells">Niños</div>
        <div class="timetable-cells timetable-emptycells t-halfhourcell">S/C</div>
        <div class="timetable-cells timetable-occupiedcells t-singlelinecells">Hidrogimnasia</div>
        <div class="timetable-cells timetable-occupiedcells t-singlelinecells">Hidrogimnasia</div>
        <div class="timetable-cells timetable-emptycells t-halfhourcell">S/C</div>
      </div>
      <div class="md:flex-1">
        <div class="timetable-cells timetable-headercells">Viernes</div>
        <div class="timetable-cells timetable-emptycells">S-C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-occupiedcells">Horario Libre Particulares</div>
        <div class="timetable-cells timetable-emptycells t-halfhourcell">S/C</div>
        <div class="timetable-cells timetable-occupiedcells t-45minutescells">16:30-17:15<br>Papá e Hijo</div>
        <div class="timetable-cells timetable-occupiedcells t-45minutescells">17:15-18:00<br>Papá e Hijo</div>
        <div class="timetable-cells timetable-occupiedcells t-singlelinecells">Niños</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
      </div>
      <div class="md:flex-1">
        <div class="timetable-cells timetable-headercells">Sábado</div>
        <div class="timetable-cells timetable-occupiedcells t-saturdaycells">10:00-10:45<br>Particular<br>Adulto, Niño</div>
        <div class="timetable-cells timetable-occupiedcells t-saturdaycells">10:45-11:30<br>Particular<br>Niño</div>
        <div class="timetable-cells timetable-occupiedcells t-saturdaycells">11:30-12:15<br>Particular<br>Adulto, Niño</div>
        <div class="timetable-cells timetable-occupiedcells t-saturdaycells">12:15-13:00<br>Particular<br>Grupal Niño</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
        <div class="timetable-cells timetable-emptycells">S/C</div>
      </div>
    </div>
  </div>
</div>