<div class="layout">
  <div class="mt-12 mb-8"><h3 class="text-3xl">Reglamento</h2></div>
  <ul class="list-disc list-inside leading-loose py-2 text-slate-500">
    <li>Es obligatorio el uso de gorro de natación y lentes para hacer uso de la piscina. Además, el alumno debe contar con toalla y chalas para circular por el recinto piscina y camarines.</li>
    <li class="pt-3">El uso de los casilleros debe ser siempre con candado, el cual debe ser traído por el alumno.</li>
    <li class="pt-3">Está prohibido consumir comida o bebidas al interior del recinto piscina.</li>
    <li class="pt-3">El recinto cuenta con un estacionamiento de bicicletas a disposición de los alumnos que lo requieran.</li>
  </ul>
  <div class="mt-12 mb-8"><h3 class="text-3xl">Condiciones de uso</h2></div>
  <ul class="list-disc list-inside leading-loose py-2 text-slate-500">
    <li>Los cursos tienen fecha de inicio y término. Los periodos no pueden ser extendidos.</li>
    <li class="pt-3">Los cursos deben estar cancelados previo a iniciar el periodo.</li>
    <li class="pt-3">En caso de enfermedad, el alumno podrá congelar la fecha de término de su periodo, mediante envío de certificado médico como respaldo. En estos casos, se tendrá un mes para retomar las clases.</li>
  </ul>
  <div class="mt-12 mb-8"><h3 class="text-3xl">Reemplazo de clases</h2></div>
  <ul class="list-disc list-inside leading-loose py-2 text-slate-500">
    <li>La suspensión de la clase debe ser como mínimo el día anterior, de manera de dar aviso al profesor y dar la opción de asistir a otra persona en ese cupo. </li>
    <li class="pt-3">Los periodos de 4 clases tendrán la oportunidad de realizar un cambio de horario, ya sea su día o su horario, siempre que sea antes de su fecha de término.  Los periodos de 8 clases podrán realizar dos cambios de horario, cumpliendo la misma condición anterior.</li>
    <li class="pt-3">El cambio de clase debe ser notificado y autorizado en secretaría, donde se le ofrece un nuevo horario en que haya cupo. El centro no se responsabiliza por la imposibilidad del alumno de asistir en el nuevo cupo ofrecido para recuperar su clase.</li>  
  </ul>
  <hr>
</div>>