@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-2xl;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    h2 {
      @apply text-xl;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }